<!doctype html>
<html>
<head>
</head>
 <body>
   <div id="employeesresut" style="visibility:hidden">
    <section class="content container-fluid">
      <section class="content container-fluid">
       <div class="box box-primary">
         <section class="content container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <main role="main">		
               <div class="box-header with-border">
               <h3 class="box-title">Lista de Formul&aacute;rios</h3>
               </div>			  
               <section class="content container-fluid">
                {%datatable%}  
			   </section>
              </main>
            </div>
          </div>  
         </section>
       </div>
      </section>
    </section>
   </div>
   {%dwframe%}
   {%deleteModal%}
 </body>
</html>