<body class="modal-open">
<div id="myModal" class="modal fade" style="display: block;">
 <div class="modal-dialog modal-fade modal-dialog-centered modal-login" role="document" data-backdrop="static">
  <div class="modal-content">
	<div class="modal-header">
	 <div class="avatar">
	  <img src="./imgs/avatar.png" alt="Avatar">
	 </div>				
	 <h4 class="modal-title">Login</h4>	
	</div>
	<div class="modal-body">
	 <div class="form-group">
	  <input class="form-control" name="username" placeholder="Username" required="required" id="usr" type="text">		
	 </div>
	 <div class="form-group">
	  <input class="form-control" name="password" placeholder="Password" required="required" id="pwd" type="password">	
	 </div>        
	 <div class="form-group">
      {%login%}
	 </div>
	</div>
  </div>
 </div>
</div>